.login-page-container{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 50%;
    background-color: white;
    border-radius: 25px;
}

.login-page-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    margin: 10px;
}

.login-page-item-label{
    font-size: 20px;
    font-weight: 600;
}

.login-page-item-input{
    height: 40px;
    border: none;
    border-bottom: 1px solid gray;
    margin-top: 10px;
    border-radius: 5px;
}


.login-page-item-button{
    padding: 5px 20px;
    font-size: 25px;
    font-weight: bold;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.login-page-item-button:disabled{
    background-color: rgb(164, 162, 162);
    cursor: not-allowed;
}