.users-page-container{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.user-container{
    flex: 1;
    margin: 10px;
    padding: 5px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.user-title{
    font-size: 25px;
    font-weight: 600;
}

.admin-user-table{
    width: 100%;
    border-spacing: 10px;
}

.admin-user-table-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
}

.admin-user-table-header{
    text-align: left;
}

.admin-user-table-user{
    display: flex;
    align-items: center;
}

.admin-user-table-customer-image{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.admin-user-table-actions-button.view{
    padding: 5px 10px;
    border: none;
    background-color: blueviolet;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.admin-user-table-actions-button.delete{
    padding: 5px 10px;
    border: none;
    background-color: red;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 20px;
    cursor: pointer;
}
