.sidebar-container{
    flex: 1;
    height: calc(100vh - 50px);
    background-color: rgb(223, 239, 246);
    position: sticky;
    top: 50px;
    left: 0px;
}

.sidebar{
    padding: 5px;
}

.sidebar-dashboard-item{
    margin-bottom: 10px;
    margin-left: 10px;
}

.sidebar-dashboard-title{
    padding: 5px;
    margin: 0;
    font-size: 15px;
}

.sidebar-menu{
    list-style: none;
    padding-left: 20px;
    margin: 0px;
}

.sidebar-menu-item{
    padding: 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
}

.sidebar-menu-item:hover, 
.sidebar-menu-item:active{
    background-color: rgb(159, 216, 241);
}

.sidebar-menu-item-icon{
    margin-right: 10px;
}