.screens-container{
    display: flex;
}

.screens-section-container{
    flex: 5;
}

.router-link{
    text-decoration: none;
    color: inherit;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}